<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>DemoDRA - Current Weather</title>
        
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
          /* Always set the map height explicitly to define the size of the div
          * element that contains the map. */
          #map {
           height: 80%;
           width: 100%
          }
        </style>
               
        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div id="map"></div>
        <script>
        var map;

        /*
        //create positions
        var Hamilton = {lat: -37.78333, lng: 175.2793};
        var Auckland = {lat: -36.86667, lng: 174.76667};
        var Christchurch = {lat: -43.53333, lng: 172.63333};
        var Taupo = {lat: -38.68333, lng: 176.08333};
        var Wellington = {lat: -41.28664, lng: 174.77557};
        */

        function initMap() {

        var uluru = {lat: -25.344, lng: 131.036};
          // The map, centered at Uluru
          map = new google.maps.Map(
              document.getElementById('map'), {zoom: 4, center: uluru});
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({position: uluru, map: map});





          //map = new google.maps.Map(document.getElementById('map'), {
          //center: {lat: -37.78333, lng: 175.2793},
          //zoom: 8
            });
        }

/*
        //create markers
        var marker1 = new google.maps.Marker({position: Hamilton, map: map});
        var marker2 = new google.maps.Marker({position: Auckland, map: map});
        var marker3 = new google.maps.Marker({position: Christchurch, map: map});
        var marker4 = new google.maps.Marker({position: Taupo, map: map});
        var marker5 = new google.maps.Marker({position: Wellington, map: map});

        marker1.addListener('click', function()){
         });
*/
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe-ySdrxf6yeAuhQkeVRI6xBb4kwcdpLM&callback=initMap"
        async defer></script>
    
        <div float="left">
            <% include includes/mainbody %>
        </div>
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
</html>
